baseURL = "https://seanbbear.github.io/"
languageCode = "zh-tw"
title = "Bear With Me"
theme = "PaperMod"

[params]
  ShowReadingTime = true
  ShowCodeCopyButtons = true

[menu]
  [[menu.main]]
    name = "Posts"
    url = "/posts/"
    weight = 10
  [[menu.main]]
    name = "About"
    url = "/about/"
    weight = 20